body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
}
#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  background-image: url(back2.png);
}
header{
  grid-column: span 10;
}
.name{
  color: white;
  padding-left: 25px;
}
h1{
  color: white;
}
.img{
  border: solid 3px black;
  width: 150px;
  border-radius: 80px;
  margin-top: 0px;
}
#rotate{width:150px;}
  #rotate img{transition:.25s;}
  #rotate:hover img{transform:scale(1.3);}
nav{
  grid-column: span 2; 
}
nav li{
  display: block;
  margin-bottom: 24px;
}
nav li a{
  color: white;
  text-decoration: none;
  transition: color 1.0s, weight 2.0s;}
nav li a:hover{
  font-weight: bold;
  color:blue;
}
main{
  text-align: center;
  grid-column: span 12;
}
main p{
  color: white;
}
audio{
  margin: 50px;
}
#mygallery{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
.eye{
  grid-column: span 4;
}
.uncomfy{
  grid-column: span 4;
}
.audio{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
.vibe{
  grid-column: span 4;
}
.time{
  grid-column: span 4;
}
.rain{
  grid-column: span 4;
}
h3{
  color: white;
}
.about{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}
.about h1{
  grid-column: span 12;
}
.about p{
  grid-column: span 6;
  border: solid black 1px;
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 3px;
  margin-top: 0px;
  height: 392px;
}
.pic{
  width: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  float: left;
  margin-left: 300px;
}
