body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(35,35,131,1) 100%);
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}
header nav :hover{
    color:#52b6e8;
}

.container {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-page {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.important-message {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.important-message p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.important-message p::first-letter {
    font-size: 2em;
    color: #232383; /* Blue color for the first letter */
}

.learn-more a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    background-color: #232383;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.learn-more a:hover {
    background-color: #101058;
}
.home-main-text {
    display: flex;
    align-items: center;
}

.home-main-text img {
    max-width: 50%;
    margin-right: 20px; /* Adjust the margin as needed */
}

.home-main-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-right: 20px;
}
.home-second-text {
    display: flex;
    align-items: center;
}

.home-second-text img {
    max-width: 50%;
    margin-left: 20px; /* Adjust the margin as needed */
}

.home-second-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-left: 20px;
}
.forests-page {
    background-color: #d5f2e3;
    border: 1px solid #92d5b6;
    text-align: center;
}

.sea-page {
    background-color: #cce5ff;
    border: 1px solid #8ab6d6;
    text-align: center;
}
/* Forests Page Styles */
.forests-page {
    background-color: #c5e1a5; /* Light green background */
    color: #264d36; /* Dark green text */
}

.forests-page h2 {
    color: #3d6e47; /* Dark green heading */
}

.forests-page p {
    color: #264d36; /* Dark green text */
}
.forest-content {
    margin: 20px;
    padding: 20px;
    background-color: #cde6d0;
}

.forest-content h1 {
    color: #2e5732;
    font-size: 2em;
}

.forest-content p {
    color: #36454f;
    font-size: 1.2em;
    line-height: 1.5;
}

.forest-content ul {
    color: #36454f;
}

.forest-photos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.forest-photos img {
    max-width: 45%;
}
.full-screen-image {
    text-align: center; /* Center the image */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.full-screen-image img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain the image aspect ratio */
    max-height: 200px; /* Set a maximum height for the banner */
}
/* Styles for the sea page */

.sea-intro {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.sea-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.sea-info {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
}

.sea-info h2 {
    color: #0077cc;
}

.sea-gallery {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
}
.carousel-item img {
    height: 600px; /* Set a fixed height for the carousel images */
    object-fit: cover; /* Ensure images cover the specified height */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}